[defaults]

inventory = inventory/
#vault_password_file = /path/to/vault_password_file

nocows = 1

# uncomment this to disable SSH key host checking
host_key_checking = False

# Force handlers even if some task failed
force_handlers = True
